/* Center the container and title */
.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Style the new skill button */
  .new-skill-button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .new-skill-button mat-icon {
    margin-right: 5px;
  }
  
  /* Button hover effect */
  .new-skill-button:hover {
    background-color: #007bff; /* Change to blue on hover */
    color: white;
  }
  
  /* Center the grid and make it larger */
  .skills-grid {
    width: 80%; /* Make the grid larger */
  }
  
  table {
    width: 100%;
    text-align: center;
  }
  
  .mat-header-cell, .mat-cell {
    font-size: 1.2rem;
    padding: 15px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
/* Estilos adicionales para centrar el paginador y el campo de búsqueda */
.search-field {
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }